<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="telerik">
            <section name="webAssets" type="Telerik.Web.Mvc.Configuration.WebAssetConfigurationSection, Telerik.Web.Mvc" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="NorthwindConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Northwind.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <telerik>
        <webAssets useTelerikContentDeliveryNetwork="false" />
    </telerik>
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
                <providerOption name="CompilerVersion" value="v3.5"/>
                <providerOption name="WarnAsError" value="false"/>
            </compiler>
        </compilers>
    </system.codedom>
    <system.web>
        <authentication mode="None"/>
        <compilation debug="true">
            <assemblies>
                <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
                <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
                <add assembly="System.Web.Abstractions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
                <add assembly="System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
                <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
                <add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
            </assemblies>
        </compilation>
        <customErrors mode="Off"/>
        <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" uiCulture="en-US"/>
        <httpHandlers>
            <remove verb="*" path="*.asmx"/>
            <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
            <add verb="*" path="*.mvc" validate="false" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            <add verb="GET,HEAD" path="asset.axd" validate="false" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc"/>
            <add verb="GET,HEAD" path="sitemap.axd" validate="false" type="Telerik.Web.Mvc.SiteMapHandler, Telerik.Web.Mvc"/>
        </httpHandlers>
        <httpModules>
            <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        </httpModules>
        <pages masterPageFile="~/Views/Shared/Examples.Master">
            <namespaces>
                <add namespace="System.Collections.Generic"/>
                <add namespace="System.Linq"/>
                <add namespace="System.Web.Mvc"/>
                <add namespace="System.Web.Mvc.Html"/>
                <add namespace="System.Web.Routing"/>
                <add namespace="Telerik.Web.Mvc.UI"/>
                <add namespace="Telerik.Web.Mvc.Examples"/>
                <add namespace="Telerik.Web.Mvc.Examples.Models"/>
            </namespaces>
        </pages>
        <webServices>
            <protocols>
                <add name="HttpGet"/>
                <add name="HttpPost"/>
            </protocols>
        </webServices>
    </system.web>
    <system.webServer>
        <handlers>
            <remove name="ScriptHandlerFactory" />
            <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode"
                 type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>

            <remove name="ScriptHandlerFactoryAppServices" />
            <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode"
                 type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>

            <remove name="MvcHttpHandler" />
            <add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>

            <remove name="UrlRoutingHandler" />
            <add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />

            <remove name="AssetHandler"/>
            <add name="AssetHandler" preCondition="integratedMode" verb="GET,HEAD" path="asset.axd" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc"/>
            <remove name="SiteMapHandler"/>
            <add name="SiteMapHandler" preCondition="integratedMode" verb="GET,HEAD" path="SiteMap.axd" type="Telerik.Web.Mvc.SiteMapHandler, Telerik.Web.Mvc"/>
        </handlers>
        <modules runAllManagedModulesForAllRequests="true">
            <remove name="ScriptModule" />
            <remove name="UrlRoutingModule" />
            <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        </modules>
        <validation validateIntegratedModeConfiguration="false"/>
    </system.webServer>
    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="Telerik.Web.Mvc.Examples.Models.OrdersAspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
                <behavior name="Telerik.Web.Mvc.Examples.Models.EmployeesAspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
                <behavior name="Telerik.Web.Mvc.Examples.Models.OrdersWcfAspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
                <behavior name="Telerik.Web.Mvc.Examples.Models.EmployeesWcfAspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
                <behavior name="Telerik.Web.Mvc.Examples.Models.CustomersAspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
        <services>
            <service name="Telerik.Web.Mvc.Examples.Models.Orders">
                <endpoint address="" behaviorConfiguration="Telerik.Web.Mvc.Examples.Models.OrdersAspNetAjaxBehavior"
                    binding="webHttpBinding" contract="Telerik.Web.Mvc.Examples.Models.Orders" />
            </service>
            <service name="Telerik.Web.Mvc.Examples.Models.Employees">
                <endpoint address="" behaviorConfiguration="Telerik.Web.Mvc.Examples.Models.EmployeesAspNetAjaxBehavior"
                    binding="webHttpBinding" contract="Telerik.Web.Mvc.Examples.Models.Employees" />
            </service>
            <service name="Telerik.Web.Mvc.Examples.Models.OrdersWcf">
                <endpoint address="" behaviorConfiguration="Telerik.Web.Mvc.Examples.Models.OrdersWcfAspNetAjaxBehavior"
                    binding="webHttpBinding" contract="Telerik.Web.Mvc.Examples.Models.OrdersWcf" />
            </service>
            <service name="Telerik.Web.Mvc.Examples.Models.EmployeesWcf">
                <endpoint address="" behaviorConfiguration="Telerik.Web.Mvc.Examples.Models.EmployeesWcfAspNetAjaxBehavior"
                    binding="webHttpBinding" contract="Telerik.Web.Mvc.Examples.Models.EmployeesWcf" />
            </service>
            <service name="Telerik.Web.Mvc.Examples.Models.CustomersWcf">
                <endpoint address="" behaviorConfiguration="Telerik.Web.Mvc.Examples.Models.CustomersAspNetAjaxBehavior"
                    binding="webHttpBinding" contract="Telerik.Web.Mvc.Examples.Models.CustomersWcf" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
